<ion-header>
  <ion-toolbar>
    <ion-title>AGENDA TAREAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-img
  src="https://play-lh.googleusercontent.com/0VXzrMNALwkQApi9JsruBbTnb1Z4QZ_BZ9y6gLH1ppEUiBMYYCKsnS00QkXZx7SDTg4"
  alt="The Wisconsin State Capitol building in Madison, WI at night">
</ion-img>

<ion-button
[routerLink]="['/nueva-tarea']">
CREAR
</ion-button>

<ion-button
[routerLink]="['/todas-tareas']">
MOSTRAR
</ion-button>

<ion-button
[routerLink]="['/buscar-tareas']">
BUSCAR
</ion-button>
